<head>
  <style>
    body{
      text-align: right;
    }

    ul{
      text-align: right;
      list-style: none;
      
    }
    li{
      vertical-align: middle;
      padding: 1rem;
      display: list-item;
    }
    img {            
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <h1><%=result %> העתק והדבק את הקישורים על הכפתורים בכרטיס ביקור של</h1>
  <ul>
    <li>
      https://food-express.onrender.com/api/newMongoEvent?rest=<%=result %>&event=call <img
          src="https://i0.wp.com/restful.co.il/wp-content/uploads/2023/01/restful_trans_call.png?resize=64%2C64&ssl=1" />
    </li>
    <li>
      https://food-express.onrender.com/api/newMongoEvent?rest=<%=result %>&event=wolt <img
          src="https://i0.wp.com/restful.co.il/wp-content/uploads/2023/01/restful_wolt_trans.png?resize=64%2C64&ssl=1" />
    </li>
    <li>
      https://food-express.onrender.com/api/newMongoEvent?rest=<%=result %>&event=tenBis <img
          src="https://i0.wp.com/restful.co.il/wp-content/uploads/2023/01/restful_trans_tenbis.png?resize=64%2C64&ssl=1" />
    </li>
    <li>https://food-express.onrender.com/api/newMongoEvent?rest=<%=result %>&event=mishlocha <img
          src="https://i0.wp.com/restful.co.il/wp-content/uploads/2023/02/restful_mishlucha4.png?resize=64%2C64&ssl=1" />
    </li>
    <li>https://food-express.onrender.com/api/newMongoEvent?rest=<%=result %>&event=google <img
          src="https://i0.wp.com/restful.co.il/wp-content/uploads/2022/12/restful_trans_maps.png?resize=64%2C64&ssl=1" />
    </li>
    <li>https://food-express.onrender.com/api/newMongoEvent?rest=<%=result %>&event=easy <img
          src="https://i0.wp.com/restful.co.il/wp-content/uploads/2022/12/restful_trans_ez.png?resize=64%2C64&ssl=1" />
    </li>
    <li>https://food-express.onrender.com/api/newMongoEvent?rest=<%=result %>&event=facebook <img
          src="https://i0.wp.com/restful.co.il/wp-content/uploads/2022/12/restful_trans_fb.png?resize=64%2C64&ssl=1" />
    </li>
    <li>https://food-express.onrender.com/api/newMongoEvent?rest=<%=result %>&event=instagram <img
          src="https://i0.wp.com/restful.co.il/wp-content/uploads/2022/12/restful_trans_ig.png?resize=64%2C64&ssl=1" />
    </li>
    <li>https://food-express.onrender.com/api/newMongoEvent?rest=<%=result %>&event=zapRest <img
          src="https://i0.wp.com/restful.co.il/wp-content/uploads/2023/02/restful_rest1.png?resize=64%2C64&ssl=1" />
    </li>
    <li>https://food-express.onrender.com/api/newMongoEvent?rest=<%=result %>&event=veganFriendly <img
          src="https://i0.wp.com/restful.co.il/wp-content/uploads/2023/02/restful_vegan.png?resize=64%2C64&ssl=1" />
    </li>
    <li>https://food-express.onrender.com/api/newMongoEvent?rest=<%=result %>&event=tripAdvisor <img
          src="https://i0.wp.com/restful.co.il/wp-content/uploads/2023/02/trip2.png?resize=64%2C64&ssl=1" /></li>
    <li>https://food-express.onrender.com/api/newMongoEvent?rest=<%=result %>&event=ontapo <img
          src="https://i0.wp.com/restful.co.il/wp-content/uploads/2022/12/restful_trans_ontopo.png?resize=64%2C64&ssl=1" />
    </li>
    <li>https://food-express.onrender.com/api/newMongoEvent?rest=<%=result %>&event=waze <img
          src="https://i0.wp.com/restful.co.il/wp-content/uploads/2022/12/restful_trans_waze.png?resize=64%2C64&ssl=1" />
    </li>
</body>