<body style="direction: rtl; text-align: right;">
    <p>砖注  <%= o.nameHeb %> 拽专,  拽拽 砖 专住 拽专  砖注 专</p>
    <ul>
        <li>驻转专 : <%= o.call %></li>
        <li>驻转专 :  <%= o.wolt %> </li>
        <li>驻转专 转 住:  <%= o.tenBis %> </li>
        <li> 驻转专 砖:  <%= o.mishlocha %> </li>
        <li>驻转专 :  <%= o.google %> </li>
        <li>驻转专 :  <%= o.easy %> </li>
        <li>驻转专 驻住拽:  <%= o.facebook %> </li>
        <li>驻转专 住专:  <%= o.instagram %> </li>
        <li>驻转专 驻-专住:  <%= o.zapRest %> </li>
        <li>驻转专  驻专:  <%= o.veganFriendly %> </li>
        <li>驻转专 专驻 专:  <%= o.tripAdvisor %> </li>
        <li>驻转专 驻:  <%= o.ontapo %> </li>
        <li>驻转专 :  <%= o.waze %> </li>
    </ul>
    <p>砖   </p>
</body>