<body style="direction: rtl; text-align: right;">
    <p>砖注  <%= o.nameHeb %> 拽专, <br> 拽拽 砖 专住 拽专  砖注 专:</p>
    <ul>
        <%if (o.call > 0) { %>
        <li>驻转专 : <%= o.call %></li>
        <%}%>
        <%if (o.wolt > 0) { %>
        <li>驻转专 :  <%= o.wolt %> </li>
        <%}%>
        <%if (o.tenBis > 0) { %>
        <li>驻转专 转 住:  <%= o.tenBis %> </li>
        <%}%>
        <%if (o.mishlocha > 0) { %>
        <li> 驻转专 砖:  <%= o.mishlocha %> </li>
        <%}%>
        <%if (o.google > 0) { %>
        <li>驻转专 :  <%= o.google %> </li>
        <%}%>
        <%if (o.easy > 0) { %>
        <li>驻转专 :  <%= o.easy %> </li>
        <%}%>
        <%if (o.facebook > 0) { %>
        <li>驻转专 驻住拽:  <%= o.facebook %> </li>
        <%}%>
        <%if (o.instagram > 0) { %>
        <li>驻转专 住专:  <%= o.instagram %> </li>
        <%}%>
        <%if (o.zapRest > 0) { %>
        <li>驻转专 驻-专住:  <%= o.zapRest %> </li>
        <%}%>
        <%if (o.veganFriendly > 0) { %>
        <li>驻转专  驻专:  <%= o.veganFriendly %> </li>
        <%}%>
        <%if (o.tripAdvisor > 0) { %>
        <li>驻转专 专驻 专:  <%= o.tripAdvisor %> </li>
        <%}%>
        <%if (o.ontapo > 0) { %>
        <li>驻转专 驻:  <%= o.ontapo %> </li>
        <%}%>
        <%if (o.waze > 0) { %>
        <li>驻转专 :  <%= o.waze %> </li>
        <%}%>
    </ul>
    <p>砖   <br></p>
</body>